[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
rich = "*"
pandas = "*"
sklearn = "*"
scikit-learn = "*"
networkx = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
